[2017-06-10 10:55] greenkeeper[bot] opened #1 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-06-13 07:17] #1 closed

[2017-10-08 15:41] greenkeeper[bot] opened #12 "An in-range update of create-test-server is breaking the build 🚨"
## Version **2.1.0** of [create-test-server](https://github.com/lukechilds/create-test-server) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/lukechilds/cacheable-request/compare/greenkeeper%2Fcreate-test-server-2.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      create-test-serve

[2017-10-08 18:22] #12 closed

[2017-10-16 16:42] lukechilds opened #14 "Better error handling for when request function throws"
Related: https://github.com/sindresorhus/got/issues/392

When the request function throws (as opposed to emitting an error) it causes `cacheable-request` to emit an error. This is misleading because errors emitted by `cacheable-request` are assumed to be caused by a cache error, request errors are handled by listening for the error event on the request object.

However, we can't attach an event li

[2017-10-16 17:00] lukechilds commented on #14
Possible solution: `cacheable-request` should have two error classes for `RequestError` and `CacheError`.

So you could handle all possible errors from `cacheable-request` like this:

[code]

[2017-11-12 11:39] #14 closed

[2018-02-04 01:31] mokkabonna opened #23 "Shared or private cache"
Is this library meant as a private or a shared cache?

If shared, is there a straight forward way to be using this library in cooperation with a shared cache like a reverse proxy?
https://github.com/nodejitsu/node-http-proxy

[2018-02-05 10:01] lukechilds commented on #23
It is suitable to be used a shared cache, `private` is not cacheable and `s-maxage` is respected.

I don't think nodejitsu/node-http-proxy supports passing in a request function so not with that lib directly but I'm sure there are others that do. If not it wouldn't be too simple to write your own, for example see:

https://github.com/lukechilds/pirateproxy (Got uses `cacheable-request` under the h

[2018-02-05 10:01] #23 closed

[2018-02-05 10:09] lukechilds commented on #23
I have actually been meaning to build a reverse proxy backed by `cacheable-request` but haven't had the time to put into it yet.

Let me know if you build it, I'd love to link to it in the readme.

[2018-02-24 23:51] mokkabonna commented on #23
My understanding is that there are two types of cache, shared and private (called user agent cache or single user cache)

https://github.com/kornelski/http-cache-semantics#constructor-options

And MDN:

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control#Cacheability

Anyway by diving into this library code, I can see that it is using the default options of http-cache-semantics

[2018-03-08 03:58] roneyrao opened #25 "Instance is inaccessible"
Can you please refine the interface or add a new one to return the instance itself instead of a 'request' function. More control is needed in some cases.

[2018-03-08 04:40] lukechilds commented on #25
Yes, sorry, that was a bad idea 😬.

So you wan't something like:

[code]

Out of interest, what is your use case?

[2018-03-08 12:25] lukechilds commented on #23
Sorry, just seen this, yeah definitely, it should be very simple to change.

For example:

[code]

Just needs to be:

[code]

(or similar)

And then you have full control over the `CachePolicy` options.

[2018-03-21 12:59] reggiezhang opened #28 "Got Overwriting cache with 304 response"
with got 8.2.0
`
got.stream(imgUrl, { cache: keyv }).pipe(res);
`
records in mongodb:
`{
    "_id": ObjectID("5ab084465a793ecc436a7849"),
    "key": "cacheable-request:GET:https://farm2.staticflickr.com/1521/26180297656_675e75a2ce_h.jpg",
    "value": "{\"value\":{\"cachePolicy\":{\"v\":1,\"t\":1521635364661,\"sh\":true,\"ch\":0.1,\"imm\":86400000,\"st\":200,\"resh\":{\"date\":\"Wed, 21 Mar 2018 1

[2018-03-22 04:59] lukechilds commented on #28
Thanks, sorry missed your message on the got issue the other day. https://github.com/sindresorhus/got/issues/445#issuecomment-374155353

I've replied over there.

[2018-04-16 01:11] antonmarsden opened #30 "Possible event listener memory leak"
[<img alt="Issuehunt badges" src="https://issuehunt.io/r/lukechilds/cacheable-request/issues/30/badge.svg" />](https://issuehunt.io/r/lukechilds/cacheable-request/issues/30)

Disclaimer: I'm fairly new to Node :)

The following event listener in CacheableRequest.js is never removed:

`this.cache.on('error', err => ee.emit('error', new CacheableRequest.CacheError(err)));`

These listeners will keep

[2018-04-16 08:46] lukechilds commented on #30
Thanks for taking the time to report this, yeah, looks like that is indeed a small memory leak.

I'm pretty busy at the moment but will try and take a look at this when I get a chance. Feel free to submit a PR if you have a good solution.

[2018-04-16 09:00] antonmarsden commented on #30
I commented it out in my local version. No harm done yet but I haven't been testing error conditions.

My reading of the code (which could be incorrect) is that the request scoped cache (cache.get(), etc.) errors are handled via Promises during request processing. I imagine that you'd still want to handle any emitted errors in the CacheableRequest "factory" instance itself - maybe add an event lis

[2018-04-21 11:52] kirillgroshkov opened #32 "Pass options to underlying http-cache-semantics"
I'm trying to use `got` to cache my authenticated github requests.

Github API returns `Cache-Control: private` header for authenticated requests, so `http-cache-semantics` without `shared: false` option determines the response as not cacheable.

I'd like to find a way to pass `shared: false` configuration all the way `got > cacheable-request > http-cache-semantics`. Any ideas how?

UPD: By readin

[2018-05-03 14:00] greenkeeper[bot] opened #34 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`

If you’re interested in upgrading this repo to Node.js 10, you can <a href="https://github.com/lukechilds/cacheable-request/compare/master...lukechilds:greenkeeper%2Fupd

[2018-05-21 16:36] pietercolpaert commented on #28
Also ran into this issue with the URL https://ruben.verborgh.org.

I could not reproduce with the URL `https://farm2.staticflickr.com/1521/26180297656_675e75a2ce_h.jpg`

[2018-05-21 16:45] pietercolpaert opened #35 "Redis cache keeps nodejs running"
When running the example code with a redis cache, the javascript code won’t exit

Code used:
[code]

[2018-05-21 17:03] pietercolpaert commented on #35
It seems this is already being discussed by @lukechilds here: https://github.com/lukechilds/keyv-redis/issues/12 (Great work! Thanks!)

Crossreffing this issue. When that’s fixed, this one can be closed as well

[2018-05-25 13:59] dimitridaras opened #36 "Cache never overwrites with fresh data"
Hi. It appears that cached data is being returned even when the cache expires.

The client calls call to a server endpoint (via cacheable-request) which returns a response with Cache-Control: public, max-age=300. When the client makes the same request again, I can see that the server endpoint is only being hit once every five minutes, as expected. I can also see that the response from the server i

[2018-05-29 01:12] greenkeeper[bot] opened #39 "An in-range update of create-test-server is breaking the build 🚨"
## Version **2.2.0** of [create-test-server](https://github.com/lukechilds/create-test-server) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/lukechilds/cacheable-request/compare/master...lukechilds:greenkeeper%2Fcreate-test-server-2.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency

[2018-07-07 10:52] lukechilds commented on #32
Closed as https://github.com/sindresorhus/got/issues/480 is closed.

[2018-07-07 10:52] #32 closed

[2018-07-13 20:08] sindresorhus opened #42 "Use WHATWG URL to format the URL for the cache key"
Here: https://github.com/lukechilds/cacheable-request/blob/847786f24115cb66bacebc3f9b75c14cc56ae149/src/index.js#L43

[2018-07-13 21:12] jstewmon commented on #42
@lukechilds I've tried to thoroughly explain the problem in https://github.com/sindresorhus/got/pull/519#issuecomment-404950951.

I think cacheable-request intends to support the same interface as `http.request` based on the docs:

So, I'd like to fix this by formatting the cache key according to one of the supported argument types for `http.request`: `string`, `URL` or `object`.

We can still che

[2018-08-06 09:59] greenkeeper[bot] opened #45 "An in-range update of xo is breaking the build 🚨"
## Version **0.22.0** of **xo** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/lukechilds/cacheable-request/compare/master...lukechilds:greenkeeper%2Fxo-0.22.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/xojs/xo>xo</a>

[2018-08-20 18:29] greenkeeper[bot] opened #48 "An in-range update of delay is breaking the build 🚨"
## Version **3.1.0** of **delay** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/lukechilds/cacheable-request/compare/master...lukechilds:greenkeeper%2Fdelay-3.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/sindresorhus

[2018-08-22 03:05] rarkins opened #49 "Force revalidation for every request"
I would like to see functionality that lets `cacheable-request` and its downstream parent `got` package *always* revalidate cached results, regardless of the headers received. e.g. if a `max-age=300` was received, ignore that and revalidate the result even if queried within the following 5 minutes. Based on a quick reading of the spec, I think this is is like forcing `Cache-Control: no-cache`.

[2018-08-22 08:18] rarkins commented on #49
I think this is possible by specifying a `Cache-Control` header in the subsequent requests, so closing. Sorry for the noise.

[2018-08-22 08:18] #49 closed

[2018-08-23 08:30] palamccc opened #50 "Cache revalidation fails - due to typo"
I'm using https://github.com/sindresorhus/got and cache was not working as expected, while debugging i found this issue.

In https://github.com/lukechilds/cacheable-request/blob/master/src/index.js#L139
```policy.satisfiesWithoutRevalidation``` expects a response object. But instead of a response, opts is passed.

```policy.satisfiesWithoutRevalidation``` source https://github.com/kornelski/http-c

[2018-08-23 08:51] palamccc commented on #50
sorry,  variable names are different, but they are of same type. ignore this ticket.

[2018-08-23 08:51] #50 closed

[2018-09-01 16:02] greenkeeper[bot] opened #51 "An in-range update of normalize-url is breaking the build 🚨"
## Version **3.3.0** of **normalize-url** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/lukechilds/cacheable-request/compare/master...lukechilds:greenkeeper%2Fnormalize-url-3.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.

[2018-09-02 18:28] adityapatadia opened #52 "Expose http-cache-semantics options"
Please let users set options for http-cache-semantics. I am especially interested in `shared: false` option.

https://github.com/kornelski/http-cache-semantics#constructor-options

[2018-09-03 16:07] szmarczak commented on #28
It's not reproducible for me:

https://github.com/sindresorhus/got/issues/445#issuecomment-415956546

[2018-09-04 16:15] szmarczak commented on #25
@lukechilds has a good point. We need the Event Emitter in case the database is asynchronous.

[2018-09-05 13:37] adityapatadia commented on #52
What would be best way to pass the options? Pass as third argument to constructor or as in opts to `cacheableRequest` function?

[2018-09-05 13:38] adityapatadia commented on #52
I prefer letter because it will require no changes to GOT library which I eventually use to cache requests.

[2018-09-18 19:49] TomiTakussaari commented on #28
I'm also seeing this quite constantly when using Got (9.2.2) with cache.

[code]

Our response has following headers:
[code]

When making first request, our backend responds with http 200, and with above headers, and everything works great.

After 2 seconds, when making another request, Got sends `if-none-match: W/"25-IXVo3gjpcqCvJf/jkWswkxjZfME"'` header, which gets 304 response, with same header

[2018-09-18 20:43] lukechilds commented on #28
Thanks for the detailed feedback @TomiTakussaari

Apologies guys, this is almost definitely an issue on my end, I just haven't had a lot of time for OSS lately. That should change very shortly.

@TomiTakussaari If you could put together a reproducible test case that would be absolutely amazing and a great help. If you're having trouble with nock could I suggest [lukechilds/create-test-server](http

[2018-11-13 08:06] #52 closed

[2018-11-13 21:04] felixfbecker opened #62 "Support Cache-Control: Immutable"
I couldn't find any tests for this, but it is very useful for programmatic requests against immutable resources. See https://www.keycdn.com/blog/cache-control-immutable

[2018-12-22 17:20] UltCombo commented on #28
I've managed to reproduce the issue.

When `cacheable-request` performs a conditional request with `If-None-Match` header and the server sends a 304 response without `ETag` header, the cache is updated with an empty response.

According to [RFC 7232](https://httpwg.org/specs/rfc7232.html#rfc.section.4.1):

So in this case, the server response is violating the RFC. I'm not sure how `cacheable-reque

[2018-12-24 07:31] lukechilds commented on #28
Thanks for looking into this @UltCombo, really appreciate that.

I'm not sure if we should try and patch things up by setting what we think the server means to respond with.

If the server isn't following the spec then it might be getting other things wrong and it's possible that it shouldn't even be returning a 304.

If this issue causes the cache to be updated with an empty response then it must

[2018-12-24 10:13] kornelski commented on #28
I'll have a look

[2018-12-24 13:35] UltCombo commented on #28
@lukechilds It makes perfect sense, thanks!

I would suggest to take a look at how other real-world implementations (browsers?) handle this scenario and update accordingly. @kornelski

If browsers accept this RFC-invalid response as valid, maybe `cacheable-request` should as well, and if they don't then perhaps it should throw an error or log an warning to make this issue easier to debug?

[2018-12-24 14:31] kornelski commented on #28
The lack of etag in the response shouldn't be a problem:

https://httpwg.org/specs/rfc7234.html#rfc.section.4.3.4

I have an `if` for that exact case in the code.

[2018-12-24 14:35] kornelski commented on #28
I think the bug is here:

https://github.com/lukechilds/cacheable-request/blob/06bd6b3bf83b82de767b6f15ac154d05fb5e2356/src/index.js#L85

it uses `response.statusCode` rather than `revalidate.statusCode`

[2018-12-28 05:35] lukechilds commented on #28
Thanks for the feedback @kornelski, greatly appreciated!

I think that was intentional, does that mean you agree with this functionality:

https://github.com/lukechilds/cacheable-request/blob/master/test/cache.js#L522-L554

@UltCombo If I whip up a branch with this change would you be willing to test it out against your problematic endpoint?

[2018-12-28 13:06] kornelski commented on #28
The cache should never expose 304 IMHO. If response is revalidated using the 304 mechanism, it means you **don't** use the 304 response, you use the original one instead.

[2018-12-28 22:46] UltCombo commented on #28
@kornelski I'm not sure if I understand correctly, please double check the emphasized part:

In the case I described above, the stored response has an entity-tag (which can be either a strong or weak validator), so it wouldn't satisfy the condition in the paragraph above, right?

@lukechilds I agree with Kornel, 304s should be transparent, consumer code should never receive a 304 response.

Anothe

[2018-12-28 22:59] kornelski commented on #28
Making two requests would be fine.

Perhaps 304 that "drops" the etag could be interpreted as if it was 304 with the same etag as before. That might be a practical bending of the RFC rules.

[2018-12-28 23:36] UltCombo commented on #28
Yes, I thought the same thing. :smile:

[2018-12-29 23:55] lukechilds commented on #28
@kornelski

Do you think that logic should live in `cacheable-request` or in `http-cache-semantics`?

Thanks guys for the 304 feedback, I will get that fixed and always return the source response code.

Need to fix some tests but this branch should do that already: https://github.com/lukechilds/cacheable-request/pull/67

@UltCombo would you mind testing this branch against your problematic API (wi

[2018-12-31 02:51] lukechilds commented on #28
Ok thanks @kornelski.

Would you mind explaining the changes in https://github.com/kornelski/http-cache-semantics/commit/7894244310c5b62b36ff8e244acd5b6b91d96d9a? I'm a little confused why:

[code]

was changed to:

[code]

[2019-01-04 07:38] lukechilds commented on #28
`cacheable-request@6.0.0` published which *I think* should resolve this. I'd be grateful if anyone who was encoutnering the issue could test this.

[2019-01-05 22:04] #62 closed

[2019-01-08 22:46] UltCombo commented on #28
I've removed my workaround, installed `cacheable-request@6.0.0` in `got@9.5.0` and the issue still persists: getting empty response body.

I just double-checked and my dependency tree is up-to-date:

[code]

[2019-01-09 04:36] lukechilds commented on #28
Thanks for following up @UltCombo.

I'm a little confused, should https://github.com/kornelski/http-cache-semantics/commit/7894244310c5b62b36ff8e244acd5b6b91d96d9a address this?

If not, can we implement your missing etag patch inside `http-cache-semantics` or does it need to be inside `cacheable-request`?

[2019-01-09 04:39] lukechilds commented on #28
Ahh, just noticed, that commit isn't published on npm.

@UltCombo any chance you could try pulling in the latest `http-cache-semantics` from git and trying again?

[2019-01-09 13:37] UltCombo commented on #28
@lukechilds Pulled `kornelski/http-cache-semantics#7894244310c5b62b36ff8e244acd5b6b91d96d9a`, it works now!

[2019-01-09 14:04] kornelski commented on #28
I'll make a release

[2019-01-10 07:05] #45 closed

[2019-01-10 07:05] #51 closed

[2019-01-10 07:06] #48 closed

[2019-01-10 07:33] adityapatadia commented on #36
Does the server return any Etag or last-modified headers?

[2019-01-10 10:07] adityapatadia opened #70 "Should we migrate to Jest as testing framework?"
I am thinking to migrate this library to test with https://jestjs.io/. In my personal experience it's faster, nicely maintained (by facebook) and more feature rich. Ava has many problems like if you try to run tests for v6.0 on Node 10, the process gets stuck without any explanations.

Let me know your thoughts.

[2019-01-10 10:08] adityapatadia commented on #36
Let us know if you still face the issue after trying above. We will re-open it.

[2019-01-10 10:08] #36 closed

[2019-01-10 10:09] adityapatadia commented on #28
Let us know if installing latest version fixes this. We can close this after success reports. I will also get it tested.

[2019-01-10 10:12] adityapatadia opened #71 "Code has growin big. Break it into parts."
This library source code resides in single javascript file and has almost no comments. It can become hard to maintain in future. The code needs to be divided in smaller modules.

[2019-01-11 00:42] lukechilds commented on #71
I agree the code is hard to follow, not sure breaking it into separate files will help too much though, although I'm not strongly against it.

Things that would help:

- Adding comments
- Refactor into using function composition instead of being a class (Writing as a Class was a mistake)
- Having more named functions and calling them rather than having large chunks of code inline

I imagine that w

[2019-01-11 00:46] lukechilds commented on #70
I really enjoy working with AVA and use it for all my projects. I'm very familiar with it so for me personally, I see no reason to change.

I haven't encountered any perf or stability issues with AVA, but if we were having specific issues with AVA that were solved with Jest then I would be open to migrating.

But currently, this seems like more of a personal preference than a technical issue. Ever

[2019-01-12 09:00] adityapatadia commented on #71
Actually yes, dividing in smaller functions is also a good idea. I will start work in that direction once testing issues are fixed. Don't want to shake this when unit tests are failing.

[2019-01-12 09:02] adityapatadia commented on #70
I am not sure if it's just me but I find lot of issues with AVA. For example, when I run the tests for nodejs v10, it just hangs without any explanation. I will try to fix it first but when I moved from mocha/chai to Jest, I found it wayyy better for my personal projects. That feel is not there with Ava but let's see. If we can fix it, I am not in hurry to migrate to Jest.

[2019-01-12 09:03] #34 closed

[2019-01-12 10:03] adityapatadia commented on #70
Closing this as test framework is now working. May be it was my inexperience with Ava that prompted me to say above. I will re-open in future if this is desired.

[2019-01-12 10:03] #70 closed

[2019-01-13 09:30] adityapatadia commented on #30
I will take up the task to resolve it this week.

[2019-01-14 10:09] lukechilds commented on #30
@adityapatadia it's inherited from [Keyv](https://github.com/lukechilds/keyv#usage) those errors are for DB connection errors.

[2019-01-14 10:11] adityapatadia commented on #30
Oh, then it should be firing during the construction only. What according to you is the best way? Should we raise exception in constructor when it happens?

[2019-01-15 08:39] dimitridaras commented on #36
The server does not return LastModified or Etags. Surely if the server does not return a 304, then the old response should be considered stale and replaced with the new response?

[2019-01-15 09:03] adityapatadia commented on #36
We will get it checked. It's always good practice to return Etag or LastModified if you control the server.

[2019-01-18 11:52] szmarczak commented on #28
The latest Got uses verison `^6.0.0`. Adding it to **your** `package.json` won't fix the issue, because the older Got may use older versions of `cacheable-request` as the required version is lower.

[2019-01-18 12:12] adityapatadia commented on #28
Okay. Let me check after upgrading.

[2019-01-29 13:57] Li0liQ commented on #28
@adityapatadia Has it worked out for you? This bug blocks us from using cache with `got`.
cc @danielbentov

[2019-01-29 15:09] szmarczak commented on #28
@Li0liQ

Do you confirm or deny the bug? Or you haven't tried out?

[2019-01-29 21:13] Li0liQ commented on #28
@szmarczak I confirm the bug (_sometimes_ on 304 `got` ends up replacing cached response with the one with empty body). I haven't tested the latest version though. The issue is, I could not reliably reproduce the bug locally, and testing it in production is not an option for me.

[2019-01-29 22:01] szmarczak commented on #28
@Li0liQ thanks for the info. If the latest version of Got fixes that (or not), please let us know :)

[2019-01-31 04:34] adityapatadia commented on #28
I am going to put logs in our production system to see if it is reproduced. I will post here in a few days.

[2019-01-31 08:50] danielbentov commented on #28
Thanks @adityapatadia

[2019-02-05 10:03] Li0liQ commented on #28
@szmarczak the latest version of `got` with `http-cache-semantics@4.0.2` still has the same issue: the cached response sometimes gets overwritten with an empty body of a 304.

[2019-02-05 21:04] szmarczak commented on #28
Hmm... Weird. I'll look at it later (again).

[2019-02-19 10:00] adityapatadia commented on #28
I have found another bug. When I do `forceRefresh=true` in options and the object is already cached, the response is always empty.

@szmarczak is this line reason behind it? https://github.com/lukechilds/cacheable-request/blob/master/src/index.js#L84

[2019-02-19 10:10] szmarczak commented on #28
Well, for me it hasn't happened yet. The test proves it:

https://github.com/lukechilds/cacheable-request/blob/645e9717aa947414cd332fc36912b7cae82ee910/test/cache.js#L563-L575

If you can give some code to reproduce the issue, that'd be great.

No. It just makes sure the response isn't cached.

[2019-04-24 02:30] CyberShadow commented on #28
Please try with #77 , this looks similar to the problem I was seeing.

[2019-05-10 12:45] clement-buchart commented on #30
Hello,
I think this is loosely related to this issue : https://github.com/sindresorhus/got/issues/792 I opened in got.
In short, the fact that instantiating a new Keyv every time cacheableRequest is instantiated leads to a lot of eventListener being registered, causing a Memory leak for us.
One could argue that given that cacheableRequest needs a 'request' function in it's constructor, it's not su

[2019-05-12 10:14] lukechilds commented on #30
@clement-buchart Thanks, I really appreciate the offer of a PR, I've been meaning to look in to this for a while but unfortunately due to work I just haven't had the time.

Can you describe a little more about what you mean by these two solutions and how they would be used?

[2019-05-14 09:37] adityapatadia commented on #39
I think this can be closed as well.

[2019-05-14 09:38] #39 closed

[2019-05-14 09:45] adityapatadia commented on #71
Now that tests are working fine, I am starting some work on this. I will send PRs with small changes. Plan is to eventually divide entire codebase in smaller functions.

[2019-05-14 09:48] lukechilds commented on #71
There was some activity on https://github.com/lukechilds/cacheable-request/issues/30 the other day. It might be better to wait and see what happens with that before starting to refactor things.

Otherwise whichever gets merged first is going to cause a lot of conflicts for the other.

[2019-05-14 10:20] adityapatadia commented on #30
I am thinking about a different approach. Can we put `this.cache.off('error')` after we receive some event like `response` or `error` on that `ee` that we create?

This way listener will be attached when request fires, and it will be detached after request completes.

This second way suggested by @clement-buchart seems fine but it's little hacky. We can maintain object with all initialised cache a

[2019-05-14 10:22] adityapatadia commented on #71
I have checked and commented on it. It seems there is still no PR for it and I will most likely get it resolved as per that discussion output during code-refactor exercise.

[2019-05-17 08:46] clement-buchart commented on #30
@adityapatadia Something like this : https://github.com/lukechilds/cacheable-request/pull/82 ?
I benched it in out application, it seems it doesn't leak anymore.

[2019-05-17 08:56] clement-buchart commented on #30
I'll do more tests later.

[2019-06-07 06:13] #30 closed

[2019-06-17 05:11] manusis opened #84 "RequestError: Protocol "https:" not supported. Expected "http:""
Getting the following error when trying to use https request

unhandledRejection { RequestError: Protocol "https:" not supported. Expected "http:"
    at /Users/rajiv/myprojects/crawler-server/node_modules/cacheable-request/src/index.js:200:23

[2019-06-17 08:20] lukechilds commented on #84
Did you pass in `https.request` as the request function?

[2019-06-17 10:20] manusis commented on #84
Hi Luke,  yes I noticed it later. Working with https.request. Thanks.

[2019-06-17 10:39] #84 closed

[2019-07-01 15:48] Zauberbutter opened #86 "Cache remoteAddress"
For https://github.com/sindresorhus/got/pull/827 we need the remoteAddress in the cache. This would require (as I understand correctly) `connection: { remoteAddress: response.connection.remoteAddress }` in the following lines:
https://github.com/lukechilds/cacheable-request/blob/d50e6af350b6f52814c71ce3908e704a3d5f428e/src/index.js#L119-L124

And a connection parameter in https://github.com/lukech

[2019-07-01 16:11] szmarczak commented on #86
Remember to set `.socket = .connection` as these point to the same object. Indeed, it would be very nice to see it here but as you've already pointed out I think we should make some hooks here.

[2019-07-01 20:27] SleeplessByte commented on #86
Please _don't_ add it to the lines as listed by @Cerberooo. The Remote IP address is _not_ a field specified by RFC 7234 and we heavily rely, spec compliantly, on this behaviour. IMO, this should indeed be added either via hooks or by layering.

[2019-08-09 09:51] #71 closed

[2019-08-09 12:15] adityapatadia commented on #28
Culprit is this line: https://github.com/lukechilds/cacheable-request/blob/master/src/index.js#L87

It should be `if (!revalidatedPolicy.policy.modified) {`

[2019-08-09 14:24] adityapatadia commented on #28
It happens due to this issue: https://github.com/sindresorhus/got/issues/858

[2019-08-18 18:55] sindresorhus commented on #86
If we can't change the default, there needs to be a way for us to hook it so that we can add it ourselves. (See https://github.com/sindresorhus/got/pull/827)

[2019-09-20 20:00] sayem314 opened #88 "Cache expirty"
How do I manually set cache expiry? I’m caching lots of images that I don’t need after 15 minutes, since I’m caching thousands of images (each of them are between 500-800kB), I would like to release RAM after certain minute!

[2019-10-21 13:07] javi11 opened #91 "Response with status code 422 is being cached"
### Problem

Seems that status code is ignored because github.com/kornelski/http-cache-semantics is waiting for status not for statusCode. Should we rename it in this line
https://github.com/lukechilds/cacheable-request/blob/130fcbe79b9b7427b1d8016756be85aa3d52a303/src/index.js#L95
as it's done on https://github.com/lukechilds/cacheable-request/blob/130fcbe79b9b7427b1d8016756be85aa3d52a303/src/ind

[2019-11-14 10:09] szmarczak opened #92 "Support Node 10 API"
https://github.com/sindresorhus/got/pull/921/files/52496dfbd2051b1253ad6f6d85a6f2484b316bd3#diff-267e4380ccf0cfebc8b885a948acf226R230

[2019-11-19 10:08] lukechilds commented on #30
@clement-buchart apologies for the delay issuing the reward, this is the first time I've used Issuehunt!

[2019-11-28 15:16] adityapatadia commented on #92
I am ready to implement all of the changes in this library and do major refactor but @lukechilds seems to be taking too much time merging PRs. This library also has many problems:

- messed up codebase. super hard to understand
- got.stream when used in conjunction with cacheable request, the cached response always is buffer because how the responselike library used by this cacheable-request handl

[2019-11-28 16:39] szmarczak commented on #92
I disagree :P It's not that hard 😉

I don't think you can cache the response without downloading the body first...

That won't be necessary. I'm gonna redesign this module once I've finished my current work on Got.

[2019-11-28 16:40] szmarczak commented on #92
Well, you could override the `request` option for now...

[2019-11-28 16:55] adityapatadia commented on #92
@szmarczak It's hard compared to my redesigned codebase.

The problem is actually not the download part. There it's handled very well. The problem is that responselike module is designed in such a way that even if a cache adapter is able to return stream while retrieving from cache, the responselike module forbids it. Any cache must return buffer and then responselike module converts it to stream

[2019-11-28 16:57] adityapatadia commented on #92
I will love if new GOT works perfectly fine with streams including caching. Our use-case is that our responses must be streams, whether they are cached or not. Basically the files we are requesting are huge so it's always preferred to keep stream rather than convert to buffer.

[2019-11-28 17:02] szmarczak commented on #92
You can use `to-readable-stream`.

I'll post here when I start :)

[2019-12-31 13:57] adityapatadia commented on #92
@szmarczak let me know if you are ready to start. I am sorry to be pushy but this library is super critical for our project so want to get it improved as soon as possible,

[2020-02-15 16:38] sithmel opened #94 "Implementing RFC 5861: stale-if-error"
It would be nice to support the 'stale-if-error' header.
I have created a PR to http-cache-semantics here: https://github.com/kornelski/http-cache-semantics/pull/30

The change is compatible with the code in its current form, I am going to add a PR with the update and a test case.

[2020-03-11 11:11] sithmel commented on #94
Actually I realised that the correct behaviour in case of error would be:
- return a stale copy
- firing an error event (so that it can be logged or used for monitoring)

[2020-03-11 11:14] sithmel opened #95 "Implementing RFC 5861: stale-while-revalidate and stale-if-error"
Supporting method has been implemented on the http-cache-semantic library.

[2020-04-14 16:38] simontabor opened #96 "Cache decompressed response body"
Feature request from https://github.com/sindresorhus/got/issues/1158.

I noticed that the request cache is storing the compressed body. This adds extra computational load when using the cache - we're decompressing it every time.

Is there any way that the cache could store the decompressed body to avoid this?

[2020-04-14 17:34] lukechilds commented on #96
Hmmn, I'm not sure that's a good thing to add directly in `cacheable-request`. It could cause unpredictable results. If we decompress the response do we keep or remove compression headers? Are people consuming this API expecting it to do that?

I would suggest maybe a better idea would be to add a sort of hook to process the response before it's stored. This would allow Got to set any compression

[2020-04-14 17:39] simontabor commented on #96
Yeah, that feels like a more natural implementation - this library doesn't care about whether the response is compressed or not. @szmarczak any thoughts?

[2020-04-14 19:17] szmarczak commented on #96
I agree with @lukechilds - the idea of hooks seems promising.

[2020-04-15 16:21] szmarczak opened #97 "Prevent memory leak by using only one `cacheable-request` per cache"
See https://github.com/sindresorhus/got/issues/1128

Solved the issue on the Got side via https://github.com/sindresorhus/got/commit/2abacfffef9e84afd111827bb7848815e28b0cbf#diff-8eef38c70c64f535c3b8046b5ce40d9eR772-R779

[2020-05-02 11:45] szmarczak opened #98 "How to deal with invalid usage?"
[code]

[2020-05-31 10:38] Nisthar opened #99 "How does Cacheable Request works?"
I am using got for querying some data on my website. There will be new data every seconds. So, does using cacheable request speed it up?

[2020-06-01 09:05] lukechilds commented on #99
It wraps the native Node.js HTTP/HTTPS modules with RFC 7234 compliant caching.

Did you read the readme? Is there a specific question you have about behaviour?

[2021-05-24 15:58] KyleAMathews opened #102 "Special handling of binary files?"
Gatsby has a file downloading API. We're looking at making the cache smarter (we only look at `etag`s right now) https://github.com/gatsbyjs/gatsby/pull/31408 to avoid making any request if the remote asset set e.g. cache-control headers.

What we're trying to figure out with Got/cachable-request is if it's possible to a) handle storing request bodies ourselves (we need the actual file written to

[2021-05-25 05:21] cameronbraid commented on #102
I think storing request bodies could be done if cacheable-request exposed an api to configure the Keyv serialiser/deserializer to use an identity function gatsby could implement that in the cache adapter.

The stream got returns for a cached entry provides a `isFromCache` boolean prop so gatsby can ignore the response in that case.

[2021-05-26 21:16] boostpaal opened #103 "Upgrade normalize-url"
Please upgrade normalize-url, because of known vulnerabilities:
https://app.snyk.io/vuln/SNYK-JS-NORMALIZEURL-1296539

[2021-05-27 12:46] tomgrossman commented on #103
yep...
https://app.snyk.io/vuln/SNYK-JS-NORMALIZEURL-1296539

[2021-06-04 14:05] christian-hawk commented on #103
Yes, normalize url < 6.x provides **HIGH SEVERITY** vulnerability.

[2021-06-09 11:15] #103 closed

[2021-06-11 17:29] NotMyself opened #105 "@types/cacheable-request needs updating"
The version on [npm is 6.0.1](https://www.npmjs.com/package/@types/cacheable-request)

[2021-07-19 01:16] JaneJeon commented on #86
I hate to be "that guy", but any updates on this?

[2021-07-19 01:17] szmarczak commented on #86
Not yet

[2021-08-25 21:18] jlipps opened #106 "support v7 of normalize-url"
Version [7.0.1](https://github.com/sindresorhus/normalize-url/releases/tag/v7.0.1) of normalize-url saw a bugfix for use in Safari. My project only depends on normalize-url through intermediaries like Got and this project. I tried to apply a patch to this project to upgrade normalize-url to 7.0.1, but it appears as of v7 normalize-url is ESM-only.

What's the stance of the maintainers here toward

[2021-09-02 14:43] avivimgn opened #107 "Handling of timeToLive() returning floats"
I originally opened an issue on http-cache-semantics, but this can be fixed on here as well.
The full details can be viewed on the original issue i've opened https://github.com/kornelski/http-cache-semantics/issues/35, but I'll copy it for your convenience.

# ״

It causes a problem in https://github.com/lukechilds/cacheable-request. Since this is the root cause of the problem, I opened the issue

[2021-11-15 06:59] Chklang opened #109 "Cache value automatically serialized"
Hi!

First : Very good project!!
Can you add an option to not serialize the cache value by default? My cache file is like it:

[code]

The content is the value when the lib call "cache.set(key, value)". We can see two things :
1. The value is already JSON serialized
2. The body is automatically base-64 encoded

It will be very perfect if (1) and (2) can be bypassed. I want to see the content of ca

[2022-04-21 23:23] #99 closed

[2022-05-19 15:15] jaredwray commented on #35
Closing as this issue looks to be resolved

[2022-05-19 15:16] jaredwray commented on #105
@NotMyself - hello! we will be working over the next 90 days to update this and move it to typescript 🤞 Will close this issue in replacement of a larger update.

[2022-05-19 15:16] #105 closed

[2022-05-19 15:18] jaredwray commented on #109
@Chklang - sorry as this is a function of our Keyv and we do not plan to change this.

If you want you can do your own json-serializer in Keyv to replace it.

[2022-05-19 15:21] jaredwray commented on #107
@avivimgn - thanks for the heads up on this issue. At this time we are looking to get this project cleaned up first and will consider this issue later. Do you want to do a pull request around how to test for this and we will get it considered?

[2022-05-19 15:22] jaredwray commented on #106
@jlipps - thanks for the update and our goal is that over the next 90 days we will be upgrading all modules on this project to get it up to current. I am going to close this issue out and roll it into a bigger one.

[2022-05-19 15:22] #106 closed

[2022-05-19 15:23] jaredwray commented on #102
@cameronbraid - can you give an example of what you would like to see from Got and this library?

[2022-05-19 15:25] jaredwray commented on #95
@sithmel - thanks for asking for this feature. Do you want to put together a pull request for us to review?

[2022-05-19 15:26] jaredwray commented on #94
going to reference it in the other issue also and close this out

[2022-05-19 15:26] #94 closed

[2022-05-19 15:28] jaredwray commented on #92
closing this out as we are now working to support Node 12, 14, 16, and 18. Should be updated in the next 90 days.

[2022-05-19 15:28] #91 closed

[2022-05-19 15:29] #88 closed

[2022-05-19 15:31] jaredwray commented on #86
@JaneJeon and @szmarczak - We are starting to look at this and will plan it after we get the code base up to latest modules and Node versions.

[2022-05-19 15:34] jaredwray commented on #28
@adityapatadia is this issue still existing and can be verified?

[2022-05-19 15:47] #25 closed

[2022-05-19 17:51] phawxby commented on #97
Amazing. Thanks

[2022-05-19 18:20] adityapatadia commented on #28
We have stopped using this long ago so we are not able to verify this.

[2022-05-19 18:26] CyberShadow commented on #28
I don't know what makes you say that.

- The patch in #77 still applies cleanly.
- The test from #77 still fails on master.

Are you looking at another pull request by mistake?

[2022-05-20 04:05] jlipps commented on #106
thanks for the heads up!

[2022-05-31 20:12] jaredwray opened #123 "Support for Nodejs 12, 14, and 16"
Currently we support node 12 but when looking to move to Nodejs 14 the following error happens:

[code]

To replicate this do the following:
1. Dowload the latest from `master`
2. Run `nvm use 14`
3. Run `npm i`
4. Run `npm test`

This should not have any errors in it.

[2022-05-31 21:05] jaredwray opened #124 "Upgrade Ava to Latest Version"
Currently we are running a very old version of Ava. Please upgrade and fix all tests to make sure they work on Nodejs version 12, 14, and 16.

[2022-06-01 16:43] #102 closed

[2022-06-06 15:22] #124 closed

[2022-06-07 00:53] #123 closed

[2022-06-07 14:41] jaredwray opened #127 "Upgrading lowercase-keys latest versions"
Please upgrade the following to a latest version and fix any ESM errors when testing.

 lowercase-keys   ^2.0.0  →   ^3.0.0
 normalize-url    ^6.0.1  →   ^7.0.3

[code]

[2022-06-08 08:01] alphmth commented on #127
@jaredwray both packages use ESM module and we are using CommonJS so we can't update. However I found `@stdlib/string-lowercase` which uses CommonJS. So I removed `lowercase-keys ` and added `@stdlib/string-lowercase`. But for `normalize-url` package I am no able to find anyting alternative package

[2022-06-11 16:58] jaredwray commented on #127
Removed library as no longer needed on pull request #131

[2022-06-11 16:58] #127 closed

[2022-06-11 18:04] jaredwray commented on #106
https://github.com/jaredwray/cacheable-request/pull/134

[2022-06-11 20:43] jaredwray opened #138 "Migrating to Typescript"
Hello - currently the version released is `8.0.1` and is updated to latest of all node packages! Our next big effort will be to migrate to typescript which is currently in process here: https://github.com/jaredwray/cacheable-request/pull/137

[2022-06-22 17:37] jaredwray commented on #107
closing do to no response. happy to look at this again with a test case we can validate against

[2022-06-22 17:37] #107 closed

[2022-07-05 17:49] jaredwray commented on #28
Fix is in and being released under version 9 in the main branch. To be published before 7/11/2022

[2022-07-05 17:49] #28 closed

[2022-07-05 18:08] CyberShadow commented on #28
Thank you. In the future, if you use my work, I would appreciate it if you would add due credit in the commit message. Thanks!

[2022-07-05 20:12] sindresorhus opened #150 "Make proper changelogs"
https://github.com/jaredwray/cacheable-request/releases/tag/v8.0.0 is just a list of commits. 90% of the items there are not useful to users. A changelog should clearly document what the user-faceable changes are, especially what the breaking changes are in a major release.

Examples:
- https://github.com/sindresorhus/got/releases/tag/v12.0.0
- https://github.com/sindresorhus/eslint-plugin-unicorn

[2022-07-07 14:53] jaredwray commented on #150
@sindresorhus - will do and thanks for the example. We are working on moving to pure ESM and will work on a better change log. Thanks for the examples.

[2022-07-07 14:53] #150 closed

[2022-08-02 18:37] jaredwray commented on #95
@sithmel - We have merged this into our `main` branch please verify that this is working as expected. Our plan is to release it in the next 10 days.

[2022-08-02 18:37] #95 closed

[2022-08-12 16:38] jaredwray commented on #96
@szmarczak @simontabor - we are looking to accept the changes by @alphmth with the hooks integrated into the system. In addition to this it will be the `v9` release of cacheable-request which will require ESM moving forward. Just FYI and we will have release notes on the changes and updates.

[2022-08-13 15:47] jaredwray commented on #96
@szmarczak and @simontabor  - this is now merged and being released. Please let us know if you would like any changes.

[2022-08-13 15:47] #96 closed

[2022-08-13 16:01] jaredwray commented on #28
@CyberShadow - https://github.com/jaredwray/cacheable-request/releases/tag/v9.0.0

[2022-08-13 16:39] CyberShadow commented on #28
Thank you! :heart:

[2022-08-15 08:31] szmarczak opened #165 "Hooks should be per-instance"
Currently hooks are stored in a global context and affect all instances. Also the types have `any` which is incorrect.

[2022-08-15 16:09] jaredwray commented on #165
@szmarczak - thanks we will get that fixed ASAP.

[2022-08-28 01:39] jaredwray commented on #98
@szmarczak - would love a suggestion around this as I don’t know an easy way to solve this.

[2022-08-29 12:22] szmarczak commented on #98
Having in mind how this was designed, I don't see an easy way either. I'd just mention in the docs that the response has to be read from `cacheable-request`, reading data directly from `IncomingMessage` most likely breaks the entire thing.

[2022-08-29 12:22] #98 closed

[2022-09-03 23:37] xianqugithub opened #170 "Fail to run the test"
**Describe the bug**
When I tried to run the test with `npm test`, it fails to pass all tests.

[code]

**To Reproduce**
npm test

**Expected behavior**
All tests pass.

[2022-09-04 15:32] jaredwray commented on #170
@xianqugithub I wasn't able to reproduce this. Can you try `npm i && npm test` from the command line. Here is the output I am getting:

[code]

[2022-09-04 15:34] jaredwray commented on #170
Ah... had to blow away the project and on fresh install. Looking into this.

[2022-09-05 03:35] sindresorhus opened #171 "Types needs to be updated for ESM"
https://github.com/jaredwray/cacheable-request/blob/main/src/types.ts

You cannot use `namespace`. Use named exports instead of nesting in a namespace.

I don't have time to work on this, but if you mention me on a pull request, I'm happy to review it to ensure everything is correct.

[2022-09-05 17:54] alphmth commented on #171
@jaredwray @sindresorhus can you review PR?

[2022-09-05 18:11] jaredwray commented on #171
@alphmth and @sindresorhus - reviewed and merged.

[2022-09-05 18:11] #171 closed

[2022-09-05 18:13] jaredwray commented on #170
Fixed.

[2022-09-05 18:13] #170 closed

[2022-09-05 18:14] jaredwray commented on #165
@szmarczak - we have moved to an updated class which takes care of the instance issue. With that said the changes will be a bit different. Here is an example:

[code]

Let us know your thoughts as we are planning to release this as `v9.3`

[2022-09-05 18:14] #165 closed

[2022-09-06 07:07] Rehan-05 opened #174 "Cannot use namespace 'ResponseLike' as a type."
**Describe the bug**
When I'm running the project facing the error " Cannot find namespace 'CacheableRequest' "

node_modules/got/dist/source/core/options.d.ts:870:27 - error TS2503: Cannot find namespace 'CacheableRequest'.

870     get cache(): string | CacheableRequest.StorageAdapter | boolean | undefined;
[code]

node_modules/got/dist/source/core/options.d.ts:1163:35 - error TS2503: Cannot fin

[2022-09-06 10:15] karthik1017mh commented on #174
Even I am having the same issue during my build, please fix this

[2022-09-06 11:55] FranzZemen commented on #174
+1

[2022-09-06 11:57] MonetizPay commented on #174
+1

[2022-09-07 04:47] jaredwray commented on #174
Hello - we are looking into this. Can you all tell us what version of got you are using?

[2022-09-07 04:59] Rehan-05 commented on #174
@jaredwray 12.4.1 latest version

[2022-09-07 06:43] karthik1017mh commented on #174
@types/cacheable-request@^6.0.2

[2022-09-07 11:21] FranzZemen commented on #174
got: version 12.4.1

[2022-09-07 15:14] jaredwray commented on #174
It looks like @types/cacheable-request@^6.0.2 is the problem and we have not been maintaining this but will start looking for a fix on this. Again, sorry for the issues here and we are looking at this.

@Rehan-05 can you confirm it is this package?

[2022-09-07 15:26] FranzZemen commented on #174
Unsure if helpful, but I use typescript 4.8.2 and my tsconfig file is:

`
{
  "compilerOptions": {
    "module": "es2022",
    "moduleResolution": "Node",
    "target": "ES2021",
    "sourceMap": true,
    "rootDir": "ts-src",
    "outDir": "build",
    "removeComments": true,
    "declaration": true,
    "esModuleInterop": true
  },
  "include": ["ts-src/**/*.ts","ts-src/**/*.cts", "ts-src/**/*.m

[2022-09-07 21:55] slwhitman commented on #174
+1 Also facing this issue.
`"version": "4.1.2",`

tsconfig.json below:
`{
  "compilerOptions": {
    "target": "es6",
    "module": "commonjs",
    "allowJs": true,
    "esModuleInterop": true,
    "lib": ["dom", "es5", "es6", "es2017", "esnext.asynciterable", "es2018.promise"],
    "sourceMap": false,
    "outDir": "./dist",
    "moduleResolution": "node",
    "removeComments": true,
    "noImpli

[2022-09-07 22:14] slwhitman commented on #174
Changing `ResponseLike` to `typeof ResponseLike` and ensuring `noImplicitAny` and `allowSyntheticDefaultImports` turned on in the `ts.config` has cleared the issue for me.

See: https://github.com/microsoft/TypeScript/issues/27311

[2022-09-07 23:03] jaredwray commented on #174
@slwhitman - is this based on v9 of `cacheable-response`? Would be good which one you were able to fix this on as there is a breaking change that is in the `main` repo right now that are coming out. https://github.com/jaredwray/cacheable-request#breaking-changes-with-v930

[2022-09-08 08:56] bala-auvaria commented on #174
I am new to typescript and I don't include any dependency in my package.json but still, I am getting errors while running the yarn tsc command here below my package.json and
{
    "version": "${VERSION}",
    "bin": "bin/index.js",
    "devDependencies": {
        "@types/node": "^18.7.16",
        "pkg": "^5.8.0",
        "typescript": "^4.8.2"
    }
}

Errors:

../../../node_modules/@types/cache

[2022-09-08 11:26] slwhitman commented on #174
I have `v6.0.2` in my dependency but the PR was forked off your current code.

[2022-09-09 19:41] proton-ab commented on #174
@jaredwray Please see https://github.com/sindresorhus/got/issues/2129#issuecomment-1242389439 for detailed analysis of the issue. There is no fault of your own here, the entirety of the issue belongs to `got`.

[2022-09-09 20:42] jaredwray commented on #174
@proton-ab thanks for the note and we are going to be looking at how to help on this more.

[2022-09-10 17:17] jaredwray commented on #174
Hello All - they (got team) are waiting on an updated release based on this thread (https://github.com/sindresorhus/got/issues/2129#issuecomment-1242389439). We have now published `v10.0.0` which contains some major updates and a breaking change in how it is being used.

Here are the release notes: https://github.com/jaredwray/cacheable-request/releases/tag/v10.0.0

Also, here is an understanding

[2022-09-10 17:17] #174 closed

[2022-09-10 17:35] jaredwray commented on #86
@JaneJeon - we are now working on this and plan to use `hooks` as part of the implementation for it.

[2022-09-23 01:17] jaredwray commented on #86
@JaneJeon - wanted to update you on this pull request. https://github.com/jaredwray/cacheable-request/pull/193

[2022-09-23 02:07] jaredwray commented on #86
This is now being closed as we will release `10.2.0` which will allow you to implement remote address. You can see an example here: https://github.com/jaredwray/cacheable-request#add-hooks

[code]

[2022-09-23 02:07] #86 closed

[2022-09-25 11:19] Maxim-Mazurok opened #194 "Could not find a declaration file for module 'http-cache-semantics'"
**Describe the bug**
When using `cacheable-request@10.2.0` in my TypeScript project, I get the following error when trying to compile it:
[code]

**How To Reproduce (best to provide workable code or tests!)**
The problem is currently present in this PR: https://github.com/Maxim-Mazurok/google-api-typings-generator/pull/709

1. `git clone -b create-pr-action/chore-npm-dedupe-0 https://github.com/Ma

[2022-09-25 16:53] jaredwray commented on #194
@Maxim-Mazurok - thanks for sending this over. I was looking at the `node_modules/cacheable-request/dist/package.json` and we do have `@types/http-cache-semantics` in there but seems to not be loading in the node_modules.

When I run `npm i --save-dev @types/http-cache-semantics` on the main project this goes away but there seems to be an issue.

[2022-09-26 14:25] #194 closed

[2022-09-26 14:36] jaredwray commented on #194
@Maxim-Mazurok - published release `10.2.1` with your changes. Thanks so much for contributing 🎉

https://github.com/jaredwray/cacheable-request/releases/tag/v10.2.1